{% assign filter_category = "research" %}
<div class="card-grid">
  {% for post in site.posts %}
    {% if post.categories contains filter_category %}
      <div class="card">
        <div class="card-content">
          <span class="category {{ filter_category | downcase }}">{{ filter_category | capitalize }}</span>
          <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="description">{{ post.excerpt }}</p>
        </div>
        <div class="card-image">
          <img src="{{ post.image }}" alt="{{ post.title }}">
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
