.page-content {
  max-width: 800px;
  display: block;
  margin: 10px auto 10px;
  padding: 0px 10px 10px;
}

/* shared "responsive" behavior */
.responsive-img {
  height: auto;
  max-width: 100%; /* ensures it never overflows */
  display: block;
  margin: auto;
}

/* mobile override */
@media (max-width: 600px) {
  .responsive-img {
    width: 100% !important;  /* force full width on small screens */
  }
}
