@mixin social-media-icon($color, $transition){
  -webkit-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
  &:hover{
    color: $color;
  }
}

.fa-linkedin-in {
  padding: 4px;
  @include social-media-icon($linkedin-color, $icon-transition-time);
}

.fa-envelope {
  padding: 4px;
  @include social-media-icon($envelope-color, $icon-transition-time);
}

.fa-google-scholar {
  padding: 4px;
  @include social-media-icon($scholar-color, $icon-transition-time);
}

.fa-bookmark {
  padding: 4px;
  @include social-media-icon($bookmark-color, $icon-transition-time);
}

.fa-twitter {
  padding: 4px;
  @include social-media-icon($twitter-color, $icon-transition-time);
}

.fa-instagram {
  padding: 4px;
  @include social-media-icon($instagram-color, $icon-transition-time);
}

.fa-github {
  padding: 4px;
  @include social-media-icon($github-color, $icon-transition-time);
}

.fa-facebook {
  padding: 4px;
  @include social-media-icon($facebook-color, $icon-transition-time);
}

.fa-google-plus {
  padding: 4px;
  @include social-media-icon($google-color, $icon-transition-time);
}

.fa-pinterest {
  padding: 4px;
  @include social-media-icon($pinterest-color, $icon-transition-time);
}

.fa-medium {
  padding: 4px;
  @include social-media-icon($medium-color, $icon-transition-time);
}

.fa-codepen {
  padding: 4px;
  @include social-media-icon($codepen-color, $icon-transition-time);
}

.fa-rss-square {
  padding: 4px;
  @include social-media-icon($rss-color, $icon-transition-time);
}
